@model Reynolds.Cws.CompanyPortal.Interface.Views.IUser
@using Reynolds.Cws.CompanyPortal.Web.Extensions

@{
    ViewBag.Title = "My Profile";
}

<div class="page">
    <h2>My Profile</h2>

    @(Html.BuildViewFor(Model)
        .AlterMetadataFor(m => m.Roles, m => m.ShowForDisplay = false)
        .AlterMetadataFor(m => m.UserId, m => m.ShowForDisplay = false))

    <ul class="actions" style="width: 410px;">
        <li>
            @Html.ActionLink("Edit Profile", "Edit")
        </li>
        @if (!Model.IsAdUser)
        {
            <li>
                @Html.ActionLink("Change Password", "ChangePassword")
            </li>
        }
    </ul>

    <h2>My Roles</h2>

    @if (Model.Roles.Any())
    {
    <ul>
        @foreach (var role in Model.Roles)
        {
            <li>@role.Name</li>
        }
    </ul>
    }
    else
    {
        <p class="italic">
            You have not been assigned any roles.
        </p>
    }
</div>
