@model Reynolds.Cws.CompanyPortal.Business.Registration.SelfRegisterUserCommand
@using Reynolds.Cws.CompanyPortal.Web.Extensions
@using Reynolds.Cws.CompanyPortal.Business.Registration

@{
    ViewBag.Title = "Register";
}

<div class="page" style="max-width: 600px">
    <h2>Register</h2>

    @using (Html.BeginForm())
    {
        @(Html.BuildEditorFor(Model)
            .AlterMetadataFor(m => m.RequestingAdminRole, meta => meta.ShowForEdit = false)
            .AlterHtmlWhere(meta => meta.IsRequired, html => html.Find(n => n.TagName == "input").AddClass("required")))

        <div style="padding:0 0 0 0;">
            <p style="width: 600px;">
                Will you be applying for any <i><b>system administrator roles</b></i>?  If you answer yes, then you must fill out and submit
                <b><a href="@Url.Content("~/content/forms/system_administrator_authorization.pdf")">this form</a></b>.
            </p>
    
            <div style="width: 350px;">
                <div style="float:right;">
                    @Html.RadioButtonFor(m => m.RequestingAdminRole, true) Yes
                    <br />
                    @Html.RadioButtonFor(m => m.RequestingAdminRole, false) No
                </div>
                @Html.ValidationMessageFor(m => m.RequestingAdminRole)
            </div>
    
            <p style="padding:20px 0 0 0;clear:both;width: 600px;">
                You will not be granted any elevated roles until after your application has been received and validated.
            </p>
        </div>
    
        @Html.ValidationSummary()

        <ul class="actions">
            <li>
                <input type="submit" value="Register" />
            </li>
        </ul>        
    }
</div>
